@use '../../mixins.scss' as a;

.listItem {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	@include a.breakpoint(sm) {
		flex-direction: row;
	}

	&-img {
		width: 150px !important;
		height: auto;
		border-radius: 0;
	}
	&-info {
		flex-grow: 1;
	}
	&-title {
		font-size: 1rem;
		font-weight: 700;
		color: var(--bs-body-color);
		& a {
			color: inherit;
			&:hover {
				transition: color 0.25s ease-in-out;
				color: var(--bs-primary);
			}
		}
	}

	&-description {
		font-size: 0.875rem;
	}
}

.cart-counter {
	display: flex;
	align-items: center;

	&-box {
		@include a.breakpoint(sm) {
			padding-left: 1.5rem;
		}
	}
	&-title {
		font-weight: 700;
		font-size: 0.875rem;
		margin-bottom: 0.5rem;
	}
	&-qty {
		min-width: 40px;
		text-align: center;
	}
	&-btn {
		background-color: var(--bs-secondary);
		border: 0.5px solid var(--bs-dark);
		border-radius: 0.3125rem;
		width: 1.5rem;
		&:active,
		:focus {
			border: 0.5px solid var(--bs-primary);
			background-color: var(--bs-primary);
		}
	}
}
